.game-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  text-align: center;

  transition: background-color 500ms ease-out;
}


/* FAILED TO JOIN / WAITING FOR GAME TO START */
.game-msg-text {
  font-family: 'Recursive', sans-serif;
  font-size: 50px;
  text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.game-msg-text-small {
  font-size: 30px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
  margin: 25px;
}

.game-button-container {
}

.game-button {
  position: relative;
  top: 2px;

  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin: 25px;
  width: 153px;
  height: 42px;
  border-radius: 50%;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.25);
  cursor: url('img/cursor-pointer.png'), pointer;
  opacity: 0.8;
  transition: background-color 500ms ease-out, opacity 200ms ease;
}

.game-button-center {
  align-items: center;
}

.game-button-text {
  font-family: 'Recursive', sans-serif;
  letter-spacing: 0.1em;
  font-size: 18px;
  user-select: none;
  cursor: url('img/cursor-pointer.png'), pointer;
}

.game-button:hover {
  opacity: 1;
}


/* GAME VIEW */
.game-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.game-guess-buttons {
  margin: auto auto 45px;
}

.game-guess-button {
  width: 164px;
  height: 164px;
}

:not(.game-guess-button-active).game-button:hover {
  top: 0;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.game-guess-button-active {
  top: 8px;
  opacity: 1;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
}

.game-guess-button-correct {
  /* background-color: #95CA7C; */
  background: radial-gradient(#83EA83, #3DCD3D); 
  background: radial-gradient(#54D954, #00AD00);

  /* background: radial-gradient(#54D954, #00CC00); */
  /* background: radial-gradient(#54D954, #009E00); */
  opacity: 1;
}
.game-guess-button-incorrect {
  /* background-color: #DB6565; */
  background: radial-gradient(#FF4C4C, #FF8F8F);
  /* background: radial-gradient(#FF6363, #D90000); */

  /* background: radial-gradient(#FF6363, #FF0000); */
  /* background: radial-gradient(#FF6363, #C50000); */
  opacity: 1;
}

.game-guess-button-text {
  font-size: 25px;
}

.game-question-text {
  font-size: 76px;
  text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
  margin: 20px auto auto;
}

.game-timer {
  margin: auto auto 100px;
  width: 200px;
}

.game-hud {
  margin: 0;
}
.game-score {
  margin: auto auto 50px 50px;
  text-align: left;
  width: 250px;
}
.game-qnumber {
  margin: auto 50px 50px auto;
  text-align: right;
  width: 250px;
}
.game-qdenominator {
  opacity: 0.5;
}

/* SCOREBOARD VIEW */
.game-thanks-text {
  font-size: 76px;
  text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.game-scoreboard {
  margin-top: 10px;
}

.game-scoreboard-text {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 700;
  font-size: 48px;
  text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.25);

  margin-bottom: 10px;
}

.game-scoreboard-text-small {
  /* font-size: 38px; */
}


/* THEME-DEPENDENT PROPERTIES */
.game-background-0 {
  background-color: #FFE974;
}
.game-question-text-0 {
  top: 2px;
  font-family: 'Red Rose', sans-serif;
  letter-spacing: -0.04em;
}
.game-button-0:not(.game-guess-button-correct):not(.game-guess-button-incorrect) {
  background-color: #E9CF48;
}

.game-background-1 {
  background-color: #DD5CA5;
}
.game-question-text-1 {
  top: 3px;
  font-family: 'Redressed', sans-serif;
  letter-spacing: -0.06em;
}
.game-button-1:not(.game-guess-button-correct):not(.game-guess-button-incorrect) {
  background-color: #CE3D8F;
}

.game-background-2 {
  background-color: #FF7474;
}
.game-question-text-2 {
  top: 2px;
  font-family: 'Recursive', sans-serif;
}
.game-button-2:not(.game-guess-button-correct):not(.game-guess-button-incorrect) {
  background-color: #DB6565;
}

.game-background-3 {
  background-color: #ACEF8C;
}
.game-question-text-3 {
  top: 0;
  font-family: 'Indie Flower', sans-serif;
}
.game-button-3:not(.game-guess-button-correct):not(.game-guess-button-incorrect) {
  background-color: #95CA7C;
}

.game-background-4 {
  background-color: #74B4FF;
}
.game-question-text-4 {
  top: 0;
  font-family: 'Fjalla One', sans-serif;
}
.game-button-4:not(.game-guess-button-correct):not(.game-guess-button-incorrect) {
  background-color: #679FE1;
}

.game-background-5 {
  background-color: #8C96EF;
}
.game-question-text-5 {
  top: 11px;
  font-family: 'Great Vibes', sans-serif;
}
.game-button-5:not(.game-guess-button-correct):not(.game-guess-button-incorrect) {
  background-color: #7780CB;
}




/* UNUSED CURRENTLY */
.game-face {
  cursor: url('img/cursor-pointer.png'), pointer;
}

.game-face-his {
  width: 150px;
  height: 150px;
}

.game-face-hers {
  width: 150px;
  height: calc(1.5 * 150px);
}

/* .game-face {
  display: flex;
  align-items: center;
  margin: 19px auto auto 27px;
  width: 126px;
  height: 40px;
  border-radius: 4px;
  box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.25);
  cursor: url('img/cursor-pointer.png'), pointer;
  transition: background-color 500ms ease-out;
}

.game-face:hover {
}

.game-face:active {
} */
