.home-error {
  color: #B92637;
}


/*
  Background Animations!
*/
.home-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  flex-direction: column;

  font-size: 96px;

  transition: background-color 500ms ease-out;
}

.home-background-0 {
  background-color: #FFE974;
}
.home-text-0 {
  top: 232px;
  font-family: 'Red Rose', sans-serif;
  letter-spacing: -0.04em;
}
.home-controls-join-0 {
  background-color: #E9CF48;
}

.home-background-1 {
  background-color: #D274FF;
}
.home-text-1 {
  top: 233px;
  font-family: 'Redressed', sans-serif;
  letter-spacing: -0.06em;
}
.home-controls-join-1 {
  background-color: #AE62D2;
}

.home-background-2 {
  background-color: #FF7474;
}
.home-text-2 {
  top: 232px;
  font-family: 'Recursive', sans-serif;
}
.home-controls-join-2 {
  background-color: #DB6565;
}

.home-background-3 {
  background-color: #ACEF8C;
}
.home-text-3 {
  top: 230px;
  font-family: 'Indie Flower', sans-serif;
}
.home-controls-join-3 {
  background-color: #95CA7C;
}

.home-background-4 {
  background-color: #74B4FF;
}
.home-text-4 {
  top: 230px;
  font-family: 'Fjalla One', sans-serif;
  font-size: 96px;
}
.home-controls-join-4 {
  background-color: #679FE1;
}

.home-background-5 {
  background-color: #8C96EF;
}
.home-text-5 {
  top: 241px;
  font-family: 'Great Vibes', sans-serif;
}
.home-controls-join-5 {
  background-color: #7780CB;
}

.home-text {
  position: absolute;
  margin: auto;
  width: 100%;
  text-align: center;
  user-select: none;

  color: #FFFFFF;
  text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.25);
}

.home-controls {
  position: absolute;
  top: 380px;
  margin: 10px auto auto;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.home-controls-name {
  margin: auto 18px auto auto;
  width: 447px;
  height: 77px;

  background: #FFFFFF;
  border-radius: 10px;
}

.home-controls-name-input {
  position: absolute;
  height: 100%;
  width: 407px;
  margin: auto 20px;
  cursor: url('cursor-text.png'), text;
  background-color: transparent;
  border: none;
  outline: none;
  color: black;
  font-family: 'Recursive', sans-serif;
  font-size: 22px;
  text-align: center;
}

.home-controls-name-input::placeholder {
  color: black;
  opacity: 0.15;
}

.home-controls-join-text {
  text-align: center;
  letter-spacing: 0.2em;
  margin: auto;
  cursor: url('cursor-pointer.png'), pointer;
  font-family: 'Recursive', sans-serif;
  font-size: 18px;
  user-select: none;
}

.home-controls-join {
  display: flex;
  align-items: center;
  margin: 18px auto auto 18px;
  width: 126px;
  height: 40px;
  border-radius: 4px;
  box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.25);
  cursor: url('cursor-pointer.png'), pointer;
  transition: background-color 500ms ease-out;
}

.home-controls-join:hover {
  margin-top: 16px;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.25);
}

.home-controls-join:active {
  margin-top: 22px;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
}

.home-error {
  position: absolute;
  top: 475px;
  margin: 0 auto auto;
  width: 100%;

  width: 100%;
  margin: 10px auto auto;

  color: #FFFFFF;
  font-size: 16px;
  text-align: center;
  user-select: none;
}


