.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 250px;
}

.timer-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  transition: height 350ms ease-in-out, width 350ms ease-in-out, border-radius 350ms ease-in-out;
}

.timer-text {
  color: #FFFFFF;
  font-family: 'Recursive', sans-serif;
  font-size: 64px;
  text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.15);
  user-select: none;
}

.timer-danger {
  color: #FF7474;
}

/* ON ANSWER REVEAL */
.timer-answer {
  width: 250px;
  height: 125px;
  border-radius: 10px;
}

.timer-answer-text {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 700;
  font-size: 36px;
}

.timer-answer-text-correct {

}
.timer-answer-text-wrong {

}


/* THEME DEPENDENT PROPERTIES */
.timer-circle-0 {
  background-color: #E9CF48;
}
.timer-circle-1 {
  background-color: #AE62D2;
}
.timer-circle-2 {
  background-color: #DB6565;
}
.timer-circle-3 {
  background-color: #95CA7C;
}
.timer-circle-4 {
  background-color: #679FE1;
}
.timer-circle-5 {
  background-color: #7780CB;
}