.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 250px;
}

.timer-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  transition: height 200ms ease-in-out, width 200ms ease-in-out, border-radius 200ms ease-in-out;
}

.timer-text {
  color: #FFFFFF;
  font-family: 'Recursive', sans-serif;
  font-size: 64px;
  text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.15);
  user-select: none;
}

.timer-danger {
  color: #FF7474;
}

/* ON ANSWER REVEAL */
.timer-answer {
  width: 250px;
  height: 125px;
  border-radius: 10px;
}

.timer-answer-text {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 700;
  font-size: 36px;
}

/* Personally, I think the green and red look kind of ugly so I won't change the timer colour for now. */
/* .timer-answer-correct {
  background-color: var(--correct);
}

.timer-answer-incorrect {
  background-color: var(--incorrect);
} */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

  .timer {
    height: 150px;
    width: 150px;
  }

  .timer-text {
    font-size: 36px;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.15);
  }

  .timer-answer {
    width: 140px;
    height: 70px;
    border-radius: 10px;
  }

  .timer-answer-text {
    font-size: 24px;
  }
}